Repository SevenProsHub/Url-Shortner: changes, and which Jenkins stages are due for each by the changed paths.
All: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-build-redirect-service, ${BRANCH_NAME}-deploy

Jenkinsfile:

pipeline {
    // Where to run stuff.
    agent any
    // What to run goes here
    environment {
        DOCKERHUB_CREDENTIALS = credentials('dockerhub-cred')
    }
    stages {
        stage('${BRANCH_NAME}-build-backend-service') {
                when {
                    allOf {
                        anyOf {
                        branch 'stg'; branch 'test'; branch 'prod'
                        }
                        changeset 'backend-service/**'
                    }
                }
            steps {
                sh 'docker build -t suraj362/url-shortner-backend-service:${BUILD_ID} -t suraj362/url-shortner-backend-service:latest ./backend-service'
                sh 'echo $DOCKERHUB_CREDENTIALS_PSW | docker login -u $DOCKERHUB_CREDENTIALS_USR --password-stdin'
                sh 'docker push suraj362/url-shortner-backend-service --all-tags'
            }
        }
        stage('${BRANCH_NAME}-build-redirect-service') {
            when {
                allOf {
                    anyOf {
                        branch 'stg'; branch 'test'; branch 'prod'
                    }
                    changeset 'redirect-service/**'
                }
            }
            steps {
                sh 'docker build -t suraj362/url-shortner-redirect-service:${BUILD_ID} -t suraj362/url-shortner-redirect-service:latest ./redirect-service'
                sh 'echo $DOCKERHUB_CREDENTIALS_PSW | docker login -u $DOCKERHUB_CREDENTIALS_USR --password-stdin'
                sh 'docker push suraj362/url-shortner-redirect-service --all-tags'
            }
        }
        stage('${BRANCH_NAME}-deploy') {
            when {
                allOf {
                    anyOf {
                        branch 'stg'; branch 'test'; branch 'prod'
                    }
                    anyOf {
                        changeset 'redirect-service/**'
                        changeset 'backend-service/**'
                        changeset 'docker-compose.yml'
                        changeset '.env'
                    }
                }
            }
            steps {
                sh 'docker-compose up -d'
            }
            agent {
                label '${BRANCH_NAME}-server'
            }
        }
    }
}

Dockerfile added for redirect-service
  .env
  docker-compose.yml
  redirect-service/Dockerfile
  redirect-service/server.go
Due: ${BRANCH_NAME}-build-redirect-service, ${BRANCH_NAME}-deploy

removed unwanted dependent services
  docker-compose.yml
Due: ${BRANCH_NAME}-deploy

Removed Keycloak dependency issue#5
  .env
  backend-service/keycloak/realm-export.json
  docker-compose.yml
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

Revert "Removed Keycloak dependency issue#5"
  .env
  backend-service/keycloak/realm-export.json
  docker-compose.yml
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

Conflict fix
  .env
  backend-service/keycloak/realm-export.json
  docker-compose.yml
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

Fix for the dynamic stages / agent not working
  Jenkinsfile
Due: none

fix issue port for redis container to be detached and reattach after restart
  docker-compose.yml
Due: ${BRANCH_NAME}-deploy

Update Jenkinsfile
  Jenkinsfile
Due: none

few urgent fixes
  .env
  docker-compose.yml
  frontend-service/Dockerfile
Due: ${BRANCH_NAME}-deploy

fix
  frontend-service/.gitignore
Due: none

fix
  .env
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/config/BeanConfig.kt
  frontend-service/.env
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

quick fix cors
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/controller/UrlController.kt
  docker-compose.yml
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

quick fix
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/controller/UrlController.kt
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

fixes
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/controller/UrlController.kt
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

fixes
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/controller/UrlController.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/dto/LoginCredentials.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/dto/RegDto.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/dto/RespMsg.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/dto/UrlCreateDto.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/service/util/AuthUtil.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/service/util/JwtUtil.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/service/util/UrlUtil.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/utils/UrlUtils.kt
  backend-service/src/main/resources/application.properties
  backend-service/src/test/kotlin/com/github/amitsureshchandra/urlshortner/controller/UtlControllerTest.kt
  docker-compose.yml
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy

fix
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/ValidationAdvice.kt
  backend-service/src/main/kotlin/com/github/amitsureshchandra/urlshortner/config/BeanConfig.kt
Due: ${BRANCH_NAME}-build-backend-service, ${BRANCH_NAME}-deploy
